streamlit>=1.38.0
soccerdata>=1.8.0          # controlla la versione più recente se vuoi
pandas
matplotlib                 # se vuoi fare grafici dopo
seaborn                    # opzionale, per visualizzazioni più belle
